body {
    display: flex;
    justify-content: center;
    font-family: monospace;
    background-color: #1F2937;
}

.container {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 600px;
    background-color: #1F2937;
    border: 5px solid #3882F6;
    border-radius: 18px;
}

button {
    font-family: monospace;
    font-weight: 1000;
    margin: 4px;
    background-color: #388087;
    border: 2px solid #3882F6;
    color: black;
    font-size: 18px;
    flex: 1 1 0;
    align-self: stretch;
    border-radius: 18px;
}

.calculations {
    margin: 8px;
    height: 120px;
    border-radius: 18px;
    background-color: #388087;
}

.row {
    display: flex;
    justify-content: space-between;
    
    margin: 2px 8px;
    flex: 1 1 auto;
}

.inputs {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.text-content, .result {
    padding: 16px;
    display: flex;
    font-size: 24px;
    justify-content: flex-end;
}


.equal {
    flex: 2 1 auto;
}
